<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:icon="@mipmap/ic_launcher">
    <application>
        <activity
            android:name=".NekopoiUrlActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="nekopoi.care"
                    android:scheme="https" />
                <data
                    android:host="nekopoi.care"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>
</manifest>
